body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/102/018/original/beautiful-clouds.jpg?1698332725);
  font-family: sans-serif;
}

#search-form{
  border: none;
  border-radius: 16px;
  padding: 20px;
}
.submit {
  color: rgb(50, 50, 250);
}
.current-city {
  font-size: 200%;
  font: bold;
  font-family: "Roboto", sans-serif;
  padding: 0 30px 0 200px;
}

.date {
  font-weight: lighter;
  font-size: small;
  font-style: italic;
  padding: 0 0 0 310px;
}
.temperature-container{
  display: flex;
}
.icon{
  font-size: 300%;
  width: 6500;
}
#description{
  font-size: medium;
  word-spacing: 0%;
  color: lightblue;
}

.current-temperature {
  font-size: 250%;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 0 0 220px;
}
.container {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  margin: 0 auto;
 width: 100%;
height: auto;
  padding: 80px 0;
  border: solid 2px white;
  border-radius: 20px;
  background-color: rgb(47, 103, 185);
}
.condition {
  margin: 20px auto;
  padding: 20px;
  border: solid 2px white;
  border-radius: 30px;
  max-width: 200%;
  display: block;
  background-color: rgb(12, 202, 240);
}
.air-conditions {
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  font: bold;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.dailyForecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: black;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
width: 100%;

}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
width:100%;
}
.weather-forecast-temperatures {
  text-align: center;
  color: black;
  margin-top: 10px;
  display: flex;
  justify-content: center;
width: 100%;
}

.weather-forecast-temperature {
  padding: 0 10px;
width:100%;
}
footer {
  text-align: right;
  padding: 20px 70px 40px 0;
  font: bold;
  font-size: large;
  font-weight: bold;
}
@media(max-width:600px){
.container {
width: 100%;
height: auto;
}
.current-city{
text-align:left;
padding: 30px;
}
.temperature-container{
text-align: left;
padding: 20px;
}
.date{
text-align: left;
padding:30px;
}
.icon{
width: 100%;
height : auto;
}
.current-temperature{
padding:20px;
}
.weather-forecast-icon{
width: 100%;
height: auto;
}
.dailyForecast{
flex-wrap: wrap;
}

}